@model IEnumerable<FoodManagementSystem.Entity.FoodItem>

@{
    ViewBag.Title = "DisplayFoodItems";
}

<h2>FoodItems</h2>
<div class="rows" style="margin-bottom:100px">

    @foreach (FoodManagementSystem.Entity.FoodItem foodItem in Model)
   {
                foodItem.FoodImagePath = Path.Combine("~/FoodImages/", foodItem.FoodImagePath);
        <div style="height:200px;margin-top:100px;background-color:rgba(255,255,255,0.6);padding-top:2%;margin-right:80%;padding-bottom:18%">
            <img style="min-height:120px;width:100%" src="@Url.Content(foodItem.FoodImagePath)" />
            <h3 style="color:#121E55;font-size:100%"><b>@foodItem.FoodName</b></h3>
            <h3 style="color:#121E55;font-size:100%">@foodItem.FoodCategory.CategoryName</h3>
            <h3 style="color:#121E55;font-size:100%">@foodItem.FoodPrice</h3>
            @*<h4 class="btn btn-danger" style="border-radius:20px 20px 20px 20px;padding-left:3%">@Html.ActionLink("Product Detail", "ViewProduct", "Cart", new { id = product.ProductId, @class = "LinkColor" }, null)</h4>*@
        </div>
    }


</div>


@*/*<table>
    <tr>
        <td>FoodName</td>
        <td>FoodCategory</td>
        <td>Price</td>
    </tr>
    @foreach (var items in Model)
    {
        <tr>
            <td>
                @items.FoodName
            </td>
            <td>
                @items.FoodCategory.CategoryName
            </td>
            <td>
                @items.FoodPrice
            </td>
        </tr>
    }
</table>*/*@
