@model FoodManagementSystem.Entity.CustomerFields

@{
    ViewBag.Title = "SignIn";
}

<h2>SignIn</h2>
@using (Html.BeginForm("SignIn", "User", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.Label("Email")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Mail)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Password)
            </td>
        </tr>
    </table>
    <a>
        <input type="button" id="signIn" value="SignIn" />
    </a>
    <a href='@Url.Action("SignUp", "User")'>
        <input type='button' value='SignUp' />
    </a>
}
