@model FoodManagementSystem.Entity.CustomerFields

@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>
@using (Html.BeginForm("SignUp", "User", FormMethod.Post))
{
    <table>
        @Html.ValidationSummary(true)
        <tr>
            <td>
                @Html.Label("Fullname")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.FullName)
                @Html.ValidationMessageFor(Model => Model.FullName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("PhoneNumber")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.PhoneNumber)
                @Html.ValidationMessageFor(Model => Model.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Gender")
            </td>
            <td>
                @Html.EnumDropDownListFor(Model => Model.Gender)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Email")

            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Mail)
                @Html.ValidationMessageFor(Model=>Model.Mail)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Password")
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Password)
                @Html.ValidationMessageFor(Model=>Model.Password)
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Role")
            </td>
            <td>
                @Html.RadioButtonFor(Model => Model.Role, "admin")Admin<br /> @Html.RadioButtonFor(Model => Model.Role, "user")User
                @Html.ValidationMessageFor(Model => Model.Role)
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" id="register" value="Register" />
            </td>
        </tr>

    </table>
    <div>
        @Html.Partial("PartialViewDemo")
        @{ 
            Html.RenderPartial("SignIn");
        }
        @{ 
            Html.RenderAction("SignIn");
        }
    </div>
}

