@model FoodManagementSystem.Models.UserSignInViewModel          

@{
    ViewBag.Title = "SignIn";
}
<div class="Form">
    <h2>SignIn</h2>
    @using (Html.BeginForm("SignIn", "User", FormMethod.Post))
    {
        <table class="FormContent">
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Mail, new { @maxlength = 64 })
                </td>
                <td>
                    @Html.TextBoxFor(Model => Model.Mail)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(Model => Model.Password, new { @maxlength = 12 })
                </td>
                <td>
                    @Html.PasswordFor(Model => Model.Password)
                </td>
            </tr>
        </table>
        <a>
            @Html.AntiForgeryToken()
            <input class="BtnStyle" type="submit" id="signIn" value="SignIn" />
        </a>
        <p>Don't have an account </p>
        <a href='@Url.Action("SignUp", "User")'>
            @Html.AntiForgeryToken()
            <input class="BtnStyle" type='button' value='SignUp' />
        </a>
    }
</div>
