@model FoodManagementSystem.Models.RestaurantViewModel

@{
    ViewBag.Title = "AddRestaurant";
}

<h2>AddRestaurant</h2>

@using (Html.BeginForm("AddRestaurant", "Restaurant", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="AddReRestaurantContent">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.RestaurantName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.RestaurantName, new { @maxlength = 25 })
                @Html.ValidationMessageFor(Model => Model.RestaurantName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.Cuisine.CuisineName)
            </td>
            <td>
                @Html.DropDownListFor(Model=>Model.CuisineID, (IEnumerable<SelectListItem>)ViewBag.CuisineDetails, "Select cuisine")
                @*@Html.ValidationMessageFor(Model=>Model.CuisineID)*@
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Location)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Location, new { @maxlength = 20 })
                @Html.ValidationMessageFor(Model => Model.Location)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.PhoneNumber)
            </td>
            <td>
                @Html.TextBoxFor(Model=>Model.PhoneNumber,new { @maxlength=10})
                @Html.ValidationMessageFor(Model=>Model.PhoneNumber)
            </td>
        </tr>
    </table>
    <a>
        <input class="BtnStyle" type="submit" id="addRestaurant" value="Add" />
    </a>
}