@model FoodManagementSystem.Models.RestaurantViewModel

@{
    ViewBag.Title = "AddRestaurant";
}

<h2>AddRestaurant</h2>

@using (Html.BeginForm("AddRestaurant", "Restaurant", FormMethod.Post))
{
    <table class="RestaurantContent">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.RestaurantName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.RestaurantName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.Cuisine.CuisineName)
            </td>
            <td>
                @Html.ListBoxFor(Model=>Model.CuisineID, (IEnumerable<SelectListItem>)ViewBag.CuisineDetails, "Select cuisine")
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Location)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.Location)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model=>Model.PhoneNumber)
            </td>
            <td>
                @Html.TextBoxFor(Model=>Model.PhoneNumber)
            </td>
        </tr>
    </table>
    <a>
        <input class="BtnStyle" type="submit" id="addRestaurant" value="Add" />
    </a>
}