@model FoodManagementSystem.Entity.Restaurant

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@using (Html.BeginForm("Delete","Resturant", FormMethod.Post))
{
    @Html.HiddenFor(Model=>Model.RestaurantID)
    <table>
        <tr>
            <td>RestaurantName</td>
            <td>@Html.ValueFor(Model=>Model.RestaurantName)</td>
        </tr>
        <tr>
            <td>Cuisine</td>
            <td>@Html.ValueFor(Model=>Model.Cuisine.CuisineName)</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>@Html.ValueFor(Model=>Model.Location)</td>
        </tr>
        <tr>
            <td>PhoneNumber</td>
            <td>@Html.ValueFor(Model=>Model.PhoneNumber)</td>
        </tr>
    </table>
    @Html.ActionLink("Cancel", "Index")
    <input class="BtnStyle" type="submit" value="Delete" />
}

