@model FoodManagementSystem.Models.RestaurantViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Update", "Restaurant", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.RestaurantID)
    <table class="RestaurantContent">
        <tr>
            <td>RestaurantName</td>
            <td>@Html.EditorFor(Model => Model.RestaurantName)</td>
        </tr>
        <tr>
            <td>RestaurantType</td>
            <td>@Html.EditorFor(Model => Model.Cuisines)</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>@Html.EditorFor(Model => Model.Location)</td> 
        </tr>
        <tr>
            <td>PhoneNumber</td>
            <td>@Html.EditorFor(Model=>Model.PhoneNumber)</td>
        </tr>
    </table>
    @Html.ActionLink("Cancel", "Index")
    <input class="BtnStyle" type="submit" value="Submit" />
}


