@model IEnumerable<FoodManagementSystem.Entity.Restaurant>

@{
    ViewBag.Title = "Index";
}
<br />
<div class="AddRestaurantActionLink">
    @Html.ActionLink("Add restaurant", "AddRestaurant")
</div>
    <h2>Restaurant Details</h2>
    <table border="1" class="RestaurantContent" align="center" cellpadding="20" style="background-color:white">
        <tr>
            <td>
                RestaurantName
            </td>
            <td>
                Cuisine
            </td>
            <td>
                Location
            </td>
            <td>
                PhoneNumber
            </td>
        </tr>
        @foreach(var items in Model)
        {
            <tr>
                <td>
                    @items.RestaurantName
                </td>
                <td>
                    @items.Cuisine.CuisineName
                </td>
                <td>
                    @items.Location
                </td>
                <td>
                    @items.PhoneNumber
                </td>       
                <td class="link">
                    @Html.ActionLink("Edit", "Edit", new { id = items.RestaurantID }, new { @class = "editDeleteLink" })
                    @Html.ActionLink("Delete", "Delete", new { id = items.RestaurantID }, new { onclick = "return confirm('Are you sure you wish to delete this restaurant along with resturant foods');" , @class = "editDeleteLink" })
                    @Html.ActionLink("DisplayFood", "DisplayRestaurantFoods", "Food", new { id=items.RestaurantID}, new { @class = "editDeleteLink" })
                </td>
            </tr>
        }
    </table>



