@model FoodManagementSystem.Models.RestaurantViewModel

@{
    ViewBag.Title = "Index";
}
<br />
<div class="AddRestaurantActionLink">
    @Html.ActionLink("Add restaurant", "AddRestaurant")
</div>
    <h2>Restaurant Details</h2>
    <table border="1" class="RestaurantContent">
        <tr>
            <td>
                RestaurantName
            </td>
            <td>
                Cuisines
            </td>
            <td>
                Location
            </td>
            <td>
                PhoneNumber
            </td>
        </tr>
        @foreach (var items in ViewBag.RestaurantDetails)
        {
            <tr>
                <td>
                    @items.RestaurantName
                </td>
                <td>
                    @items.Cuisines
                </td>
                <td>
                    @items.Location
                </td>
                <td>
                    @items.PhoneNumber
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = items.RestaurantID })
                    @Html.ActionLink("Delete", "Delete", new { id = items.RestaurantID })
                </td>
            </tr>
        }
    </table>



