@model FoodManagementSystem.Models.FoodViewModel

@{
    ViewBag.Title = "AddFood";
}

<h2>AddFood</h2>

@if(TempData["RestaurantID"] != null)
{
    TempData.Keep("RestaurantID");
}
@using (Html.BeginForm("AddFood", "Food", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.RestaurantID)
    <table class="DisplayFoodContent">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.FoodName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.FoodName, new { @maxlength = 25 })
                @Html.ValidationMessageFor(Model => Model.FoodName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.FoodCategory)
            </td>
            <td>
                @Html.DropDownListFor(Model => Model.FoodCategoryID, (IEnumerable<SelectListItem>)ViewBag.FoodCategory, "Select Category")
                @Html.ValidationMessageFor(Model => Model.FoodCategoryID)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.FoodPrice)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.FoodPrice, new { @maxlength = 5 })
                @Html.ValidationMessageFor(Model => Model.FoodPrice)
            </td>
        </tr>
        <tr>
            <td>
                <input type="file" id="foodViewModel" name="ImageUpload" accept="image/png,image/jpg,image/jpeg"/>
            </td>
        </tr>
</table>
  <a><input type="submit" id="addFood" value="Add Food" /></a>
  @Html.ActionLink("Done", "DisplayRestaurantFoods")
}

