@model FoodManagementSystem.Models.FoodViewModel

@{
    ViewBag.Title = "AddFood";
}

<h2>AddFood</h2>

@using (Html.BeginForm("AddFood", "Food", FormMethod.Post))
{
    @Html.HiddenFor(Model=>Model.RestaurantID)
    <table>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.FoodName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.FoodName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.FoodCategory)
            </td>
            <td>
                @Html.DropDownListFor(Model=>Model.FoodCategoryID, (IEnumerable<SelectListItem>)ViewBag.FoodCategory, "Select Category")
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.FoodPrice)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.FoodPrice)
            </td>
        </tr>
        <tr>
</table>
  <a><input type="submit" id="addFood" value="Add Food" /></a>
}

