@model FoodManagementSystem.Entity.FoodItem

@{
    ViewBag.Title = "DisplayRestaurantFoods";
}

<h2>RestaurantFoods</h2>
@if (TempData["RestaurantID"] != null)
{
    TempData.Keep("RestaurantID");
}
<table border="1" class="DisplayFoodContent">
    <tr>
        <td>FoodName</td>
        <td>FoodCategory</td>
        <td>Price</td>
    </tr>
    @foreach (var items in ViewBag.restaurantFoods)
    {
        items.FoodImagePath= Path.Combine("~/FoodImages/", items.FoodImagePath);
        <tr>
            <td>
                @items.FoodName
            </td>
            <td>
                @items.FoodCategory.CategoryName
            </td>
            <td>
                @items.FoodPrice
            </td>
            <td>
                <img style="min-height:200px;width:100%"src="@Url.Content(items.FoodImagePath)" />
            </td>
            <td>
                @Html.ActionLink("Edit", "EditFood", new { id = items.FoodID })
                @Html.ActionLink("Delete", "DeleteFood", new { id = items.FoodID, restaurantId = items.RestaurantID }, new { onclick = "return confirm('Are you sure you wish to delete this Food');" })
            </td>
        </tr>
    }
    </table>
@Html.ActionLink("AddFood", "AddFood")
@Html.ActionLink("Back", "Index","Restaurant")
