@model FoodManagementSystem.Entity.FoodItem

@{
    ViewBag.Title = "EditFood";
}

<h2>EditFood</h2>
@using (Html.BeginForm("UpdateFood", "Food", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model=>Model.RestaurantID )
    @Html.HiddenFor(Model=>Model.FoodID)
    <table>
        <tr>
            <td>@Html.LabelFor(Model => Model.FoodName)</td>
            <td>@Html.EditorFor(Model => Model.FoodName,new { maxlenghth=25})</td>
        </tr>
        <tr>
            <td>FoodCategory</td>
            <td>@Html.DropDownListFor(Model => Model.FoodCategoryID, ViewBag.FoodCategory as SelectList, "Select category")</td>
        </tr>
        <tr>
            <td>Price</td>
            <td>@Html.EditorFor(Model => Model.FoodPrice, new { @maxlength = 5 })</td>
        </tr>
        <tr>
            <td>Image</td>
            <td><img style="min-height:200px;width:100%" src="~/FoodImages/@Html.DisplayFor(Model=>Model.FoodImagePath)" />
            <input type="file" id="foodViewModel" name="ImageUpload" /> </td>

        </tr>
    </table>
    @Html.ActionLink("Cancel", "DisplayRestaurantFoods")
    <input type="submit" value="Submit" />
}