<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/FoodManagementStyle.css" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body class="BackgroundImg">
    <div class="MasterPageLink">
        @Html.ActionLink("Home", "Index", "Home")
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Logout", "Logoff", "Account")
        }
        else
        {
            <span>@Html.ActionLink("SignUp", "SignUp", "Account")</span>
            <span>@Html.ActionLink("LogIn", "SignIn", "Account")</span>
        }
        @if (HttpContext.Current.User.IsInRole("Admin"))
        {
            <span>@Html.ActionLink("ViewRestaurants", "Index", "Restaurant")</span>
            <span>@Html.ActionLink("View foods", "Index", "Food")</span>
            <span>@Html.ActionLink("ViewCuisines", "ViewCuisine", "Admin")</span>
        }
        @if (HttpContext.Current.User.IsInRole("Restaurant Manger"))
        {
            @Html.ActionLink("Add Restaurant", "AddRestaurant", "Restaurant")
            @Html.ActionLink("Add Food", "AddFood", "Food")
        }
        @if(HttpContext.Current.User.IsInRole("User"))
        {
            @Html.ActionLink("Restaurants", "DisplayRestaurant","User")
        }
    </div>
    @RenderBody()
</body>
</html>
